*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
section{
    background-color: #4D9AAD;
   }
.header{
    color: #EBEBEB; 
    background-color: #4D9AAD;  
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.nav{
    align-self: center;
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* margin-right: 155px; */
    font-weight: bold;
}
.header img{
    display: none;
}
.sammy{
    align-items: center;
    margin-left: 9rem;
}
.project h1{
    color: #4D9AAD;
}

.software{
    background-color: #EBEBEB;
    width: 100%;
}

.btn1{
    background-color: #ffff;
    color: #4D9AAD;
    border-radius: 5px;
    padding: 3px; 
}

.btn2{
    background-color: #157293;
    color: #ffff;
    border-radius: 5px;
    padding-left:10px;
}

.footmed{
    background-color: #157293;
    margin-top: 0%;
}

.project{
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pro-1{
    width: 35%;
    /* margin-left: 1rem; */
}

.design{
    display: flex;
    justify-content: space-between;
    color: #4D9AAD;
    /* width: 93%; */
}
.design button{
    height: 30px;
    align-self: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: #157293;
    color: white;
    width: 100px;
    border: 0;
    margin-right: 80px;
}
/* 
.design h2{
    width: 80%;
    margin-left: 160px;
} */

.wrapper{
    background-color:  #4D9AAD;
}
.availability{
    background-color: #4D9AAD;
    display: flex;

}
.availability h2{
    width: 35%;
    /* margin-left: 10rem; */
    color: white;
}

.software .imageset-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.software .imageset-1 img{
    border-radius: 15px;
    /* width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
}
/* .img-1{
    margin-left: 75%;
}

.img-2{
    margin-left: 150px;
} */

.availability button{
    height: 30px;
    width: 85px;
    border: none;
    /* margin-left: 80%; */
}
.call{
    /* margin-left: 27%; */
    margin-top: 1rem;
    margin-top: 4rem;
    
}

.footmed{
    /* text-align: center; */
    padding-top: 20px;
    color: #ffff;
}
.footer a{
    text-decoration: none;
    color: #ffff;
}
@media (min-width:414px) {
    .sammy{
        float: left;
        margin-left: 4rem;
    }
    .nav{
        display: none;
    }
    .project{
        display: block;
    }
    .pro-1{
        width: 80%;

    }
    .pro-1 h1, p, img{
         margin-left: 4rem;
    }
    .software .imageset-1{
        display: block;
        width: 100%;
    }
    .imageset-1 img{
        width: 280px;
        height: 300px;
        margin-bottom: 30px;
    }
    .design{
        display: block;
    }
    .design h2{
        width: 80%;
        margin-left: 4rem;
    }
    .design div{
        padding-top: 2rem;
    }
    .design button{
        margin-left: 4rem;
        margin-bottom: 3rem;
    }
    .software{
        width: 100%;
    }

    .availability h2{
        width: 80%;
        margin-left: 4rem;
    }
    .availability button{
        margin-left: 4rem;
        margin-bottom: 3rem;
    }
    .availability img{
        display: none;
    }

    /* .header{
        width: 100%;
    } */

    .header img{
        display:inline;
        margin-right: 30px;
        fill: #ffff;
    }
    .img-1, .img-2{
        display: none;
    }
    .availability{
        display: block;
    }
    .footer{
        text-align: center;
    }
.footmed .media-logo, .century{
    text-align: center;
    margin-right: 4rem;
}

}
@media (min-width:768px){
    .project{
        display: block;
    }
 
    .availability img{
        display: none;
    }

    .design{
        display: block;
    }
    .design h2{
        width: 80%;
        margin-left: 2rem;
    }
    .design{
        margin-left: 2rem;
    }
    .design button{
        margin-left: 2rem;
    }
    .header img{
        display:inline;
        margin-right: 30px;
        fill: #ffff;
    }
    .img-1, .img-2{
        display: none;
    }
    .availability{
        display: block;
    }
    .nav{
        display: none;
    }
}

@media (min-width:1024px){
    .header img{
        display: none;
    }
    .nav{
        display: flex;
        margin-right: 5rem;
        width: 50%;
    }
    .sammy{
        margin-left: 5rem;
    }
    .nav span{
        margin: 30px 0;
    }
    .project{
        display: flex;
    }
    .project img{
        margin-right: 3rem;
    }
    .pro-1{
        width: 30%;
        margin-left: 1rem;
        line-height: 1.5rem;
    }
    .design{
        display: flex;
    }
    .design h2{
        margin-left: 3rem;
    }
    .design button{
        margin-right: 7rem;
    }
    .software .imageset-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .software .imageset-1 img{
        width: 350px;
        height: 400px;
        border-radius: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-1{
        display: block;
        float: right;
        margin-right: 5rem;
    }
    .img-2{
        display: block;
        margin-left: 5rem;
    }
    .availability{
        display: flex;
        justify-content: space-between;
    }
    .availability h2{
        margin-left: 5rem;
    }
    .availability .call{
        display: flex;
        align-items: center;
    }
}